{! layout|framework !}

<h1>CV</h1>
<p>
    Hi, my name is {{ var|name }}, and I'm {{ var|age }} years old.
    My current workplace is {{ var|workedForCompanies|0 }}
</p>
{% if count(workedForCompanies) > 1 %}
    <h2>Other companies I've worked for:</h2>
    <ul>
        {% loop workedForCompanies steps 1,0 %}
            <li>{{ var|%index }}</li>
        {% end %}
    </ul>
{% end %}
{% if hobbies %}
    <h2>Hobbies</h2>
    <ul>
        {% loop hobbies %}
            <li>{{ var|%index }}</li>
        {% end %}
    </ul>
{% end %}